<div class="container">
<h1>Edit a question</h1>
<form class="form-verticle" action='/questions/{{question.id}}?_method=PUT' method='POST'>
  <div class="form-group ">
  <label class="col-2 col-form-label" for="owner_name">Name: </label>
  <input class="form-control" type="text" name="owner_name" id="owner_name" value="{{question.owner_name}}" >
  </div>

  <div class="form-group ">
  <label class="col-2 col-form-label" for="title">Question Title: </label>
  <input class="form-control" type="text" name="title" id="title" value="{{question.title}}">
  </div>

  <div class="form-group ">
  <label class="col-2 col-form-label" for="description">Description: </label>
  <textarea class="form-control" name="description" id="description">{{question.description}}"</textarea>
  </div>

  <div class="form-group ">
  <label class="col-2 col-form-label" for="difficulty">Time Elapsed:</label>
  <input class="form-control" type="number" name="difficulty" id="difficulty" value="{{question.difficulty}}" min='1' max='5'>
  </div>

  <input type="submit" class="btn btn-primary" value="Add this question to the que">
</form>
</div>
